body {
	font-size: 18px;
	font-family: "HelveticaNeue-Light", Palatino;
	border: 0px;
	margin: 0px;
}

#sidebar {
	float: left;
	border-right: thick double #aaaaaa;
	padding-right: 10px;
}

#maincontent {
	padding-left: 10px;
	overflow: auto;
}

#nametitle {
	color: blue;
	font-family: "HelveticaNeue";
	font-size: 64px;
}

#links {
	list-style-type: none;
}