body {
	font-size: 18px;
	font-family: 'Comic Sans MS';
	border: 0px;
	margin: 0px;
}

#sidebar {
	float: left;
	border-right: thick double #aaaaaa;
}

#maincontent {
	overflow: auto;
}

#nametitle {
	padding-left: 10px;
	color: blue;
	font-family: impact;
	font-size: 64px;
}

#links {
	list-style-type: none;
}