body {
	font-size: 36px;
	font-family: 'Comic Sans MS';
	color: blue;
	background-color: magenta;
}

#sidebar {
	background-color: blue;
	float: left;
}

#maincontent {
	overflow: auto;
	background-color: red;
}